 .menu-title {
        width: 100%;
        float: left;
        font-weight: bolder;
        font-size: 15px;
        color: grey !important;
        padding: 0.55rem 0.55rem !important;
    }
    .navbar-vertical-aside-mini-mode > .navbar > .navbar-vertical-container > .navbar-vertical-footer-offset > .navbar-vertical-content > .navbar-nav > .navbar-vertical-aside-has-menu > .js-navbar-vertical-aside-submenu > .custom-menu {
        padding: 56% 0px 0px 6%;
        height: calc(100vh - -143px);
    }
    .navbar-vertical-aside-mini-mode > .navbar > .navbar-vertical-container > .navbar-vertical-footer-offset > .navbar-vertical-content > .navbar-nav > .navbar-vertical-aside-has-menu > .js-navbar-vertical-aside-submenu > .custom-menu > ul {
        padding: 0px;
        margin: 0px;
        overflow-y: auto;
        height: 100vh;
    }
    .custom-menu > ul > li {
        padding: 0px;
        list-style: none;
    }
        .custom-menu > ul > li > a {
            padding-right: 0.75rem !important;
            padding-left: 0.1rem !important;
            
        }