@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.TabTitle = "Form IRI and RMI";
    ViewData["Title"] = "Form IRI and RMI";
    Layout = "~/Views/Shared/_PortalLayout.cshtml";
}

@inject RAMMS.Business.ServiceProvider.Interfaces.ISecurity security;
@model RAMMS.DTO.ResponseBO.DlpIRIDTO;
<script type="text/javascript">

    function openFormAModel(pid, title) {
        //debugger
        //var AssetTypeName = '@ViewBag.AssetType';
            $("body").addClass("loading");
            var filterData = new Object();
            filterData.HeaderNo = pid;

            if (pid != 0 && title != "" && title !=null) {
                $('#FormAAddModalid').text("Edit Form A Detail | Ref-" + title);

            }
            else {
                $('#FormAAddModalid').text("Add IRI & RMI Form");
            }
            $.ajax({
                url: '/DLP/HeaderListEdit',
                //url: '/NOD/DetailedListEdit',
                data: { filterData },
                type: 'POST',
                success: function (data) {
                    $("#div-data-container").html(data);
                    var e = $('#divDetails');
                    var d = $("#addFADBtn");
                    var s = $("#saveFormABtn");
                    var su = $('#SubmitFormABtn');
                    if (pid != 0 && e != undefined) {
                        $('#searchHeaderBtn').hide();
                        $(".editdisable").prop("disabled", true);
                        e.show();
                        d.show();
                        s.show();
                        su.show();
                        //InitializeGrid(pid);
                    }
                    else if (e != undefined) {
                        //e.hide();
                        e.show();
                        d.hide();
                        s.hide();
                        su.hide();
                        //InitializeGrid(0);
                    }
                    else {
                        //InitializeGrid(0);
                    }
                    $("body").removeClass("loading");
                }
            });
        }

</script>
@{
    var isModifyPerm = security.IsPCModify(ModuleNameList.Detailed_Landing_Page) ? "" : "hidden";
    var isDeletePerm = security.IsPCDelete(ModuleNameList.Detailed_Landing_Page) ? "" : "hidden";
}
@using (Html.BeginForm())
{
    //BreadCrumbs
    <div class="row">
        <div class="body-header w-100">
            <div class="col-lg-12">
                <div class="w-100 d-flex justify-content-md-between py-2 align-items-center">
                    <span class="mb-0 font-weight-bold font-20">International Roughness Index (IRI) & Road Maintenance Indicator (RMI)</span>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb breadcrumb-alt mb-0 bg-transparent">
                            <li class="breadcrumb-item">Home</li>
                            <li class="breadcrumb-item">Detail Landing Page</li>
                            <li class="breadcrumb-item" aria-current="page">
                                Service Provider Performance Indicator (SPI)
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <!-- Main Container -->
    <main id="main-container" class="row">
        <div class="col-lg-12">
            <div class="w-100 float-left position-relative">
                @*@if (security.IsPCModify(ModuleNameList.NOD))
                    {
                        <div class="grid-btns">
                            <button type="button" @isModifyPerm class="btn btn-sm btn-themebtn" data-toggle="modal" data-target="#FormAAddModal" data-backdrop="static" onclick="javascript:openFormAModel(0);"><span class="add-icon"></span> Add IRI and RMI</button>
                        </div>
                    }*@

                <div class="row">
                    <div class="col-lg-10">
                        @*<div class="form-group col-xl-1" style="max-width:1%;flex:0 0 1%">/</div>*@
                        <div class="form-group col-lg-2 col-md-4">

                            @Html.Label("Year (YYYY)", "Year (YYYY)")
                            @Html.DropDownListFor(Ahdr => Ahdr.RmiiriYear, (IEnumerable
                            <SelectListItem>)ViewData["Year"], "Select Year", new { @Id = "SearchRmiiriYear", @class = "form-control disableinput editdisable" })
                        </div>
                    </div>
                    <div class="form-group col-lg-2 col-md-12 pt-xl-4 px-md-4 px-sm-4 text-right">
                        <button type="button" class="btn btn-sm btn-themebtn" data-toggle="modal" data-target="#FormAAddModal" data-backdrop="static" onclick="javascript:openFormAModel(0);"><span class="add-icon"></span> Add IRI and RMI</button>
                    </div>
                </div>

                @* Add Form A Modal *@
                <div class="modal fade" id="FormAAddModal" tabindex="-1" role="dialog" aria-labelledby="FormAAddModalid" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-custom" role="document">
                        <div class="modal-content bg-body">
                            <div class="modal-header bg-white">
                                <h5 class="modal-title" id="FormAAddModalid">Add Form A</h5>
                                <button type="button" class="close" onclick="javascript: $('#formASearchBtn').click();" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>
                            @* Patial View for add Class to bind data in partial view *@
                            <div id="div-data-container" class="w-100 float-left">
                                @{
                                    //Html.RenderPartial("_AddFormAView.cshtml");
                                }
                            </div>
                        </div>
                    </div>
                </div>


                @*<div id="headerListGrid">

                    </div>*@

                <div id="headerListGrid" class="w-100 dt-tbl-section">
                    @{
                        Html.RenderPartial("_HeaderListGrid.cshtml");
                    }
                </div>

            </div>
        </div>
    </main>
}
<script type="text/javascript" src="~/js/Landing.js" asp-append-version="true"></script>

    <script type="text/javascript">

        $(document).ready(function () {
          
        });

    </script>
