@model RAMMS.Web.UI.Models.CDataTable

@using RAMMS.Web.UI.Models;
@using RAMMS.Business.ServiceProvider;
@inject RAMMS.Business.ServiceProvider.Interfaces.ISecurity security;
@{
    ViewBag.TabTitle = "APPENDIX B14";
    ViewData["Title"] = "APPENDIX B14";
    Layout = "~/Views/Shared/_PortalLayout.cshtml";
    var isModifyPerm = security.IsPCModify(ModuleNameList.Annual_Work_Planned_Budget) ? "" : "hidden";
    var isDeletePerm = security.IsPCDelete(ModuleNameList.Annual_Work_Planned_Budget) ? "" : "hidden";
}


@section Scripts{
<script type="text/javascript" src="~/js/FormB14.js" asp-append-version="true"></script>
}

<script type="text/javascript">
     $(document).ready(function () {
        $("#formB14Year").chosen();
     });
    function clearHeaderSearch() {

        $("#formB14SmartSearch").val('');
        $("#formB14RMU").val("").trigger("chosen:updated");
        $("#formB14Year").val("").trigger("chosen:updated");
        $("#fromIssuDate").val("");
        $("#toIssuDate").val("");
        $("[searchsectionbtn]").click();
    }

    function EditformB14(pid,view) {
        window.location = "@Url.Action("Add", "FormB14")";
    }
</script>

<div class="container-fluid">
    <div class="row">

        <div class="body-header w-100">
            <div class="row bg-white pt-4">
                <div class="w-100">
                    <div class="body-header w-100">
                        <div class="col-lg-12">
                            <div class="w-100 d-flex justify-content-md-between py-2 align-items-center">
                                <span class="mb-0 font-weight-bold font-20">
                                    Template 2 (B14) -
                                    WORK CALENDAR (Work Plan Quantity)
                                </span>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb breadcrumb-alt mb-0 bg-transparent">
                                        <li class="breadcrumb-item">Home</li>
                                        <li class="breadcrumb-item">
                                            Condition Inspection

                                        </li>
                                        <li class="breadcrumb-item" aria-current="page">
                                            Appendix B14
                                        </li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="search-section">
                <div class="justify-content-center mb-1">
                    <div class="search-content">
                        <div class="input-group">
                            <input autocomplete="off" class="form-control" id="formB14SmartSearch" name="SearchObj.SmartInputValue" onfocus="this.removeAttribute('readonly')" placeholder="Search..." spellcheck="false" type="text" value="">
                            <div class="input-group-append">
                                <div class="btn-group">
                                    <button onclick="tblFB14HGrid.Search(this,'#formB14Search');" SearchSectionBtn id="btnSearch" type="button" class="bg-theme-color js-tooltip-enabled px-2 border-0" style="line-height: 18px;"><span class="search-icon"></span></button>
                                    <button id="btnAdvSearch" type="button" class="bg-theme-color js-tooltip-enabled px-3 border-0" data-toggle="collapse" data-target="#div_advsearch"><span class="filter-icon"></span></button>
                                    <button id="btnClearSearch" type="button" onclick="clearHeaderSearch()" class="bg-theme-color js-tooltip-enabled px-3 border-0 rounded-right">Clear</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="div_advsearch" class="collapse">
                        <div class="col-lg-10 offset-lg-1">
                            <div class="bg-white rounded float-left pt-3 pb-1 px-lg-4 px-md-3 advance-search-group w-100">
                                <div class="row">

                                    <div class="form-group col-3">
                                        <label for="Name_of_Crew_Supervisor">
                                            RMU
                                        </label>
                                        @Html.DropDownList("FromRMU", (IEnumerable<SelectListItem>)ViewData["RMU"], "Select RMU", new { @Id = "formB14RMU", @class = "form-control", @param = "RMU", @clear = "rebind" })
                                    </div>

                                    <div class="form-group col-3">
                                        @Html.Label("Year", "Year")
                                        @Html.DropDownList("FromYear", (IEnumerable<SelectListItem>)ViewData["Year"], "Select Year", new { @Id = "formB14Year", @class = "form-control", @param = "Year", @clear = "rebind" })
                                    </div>

                                    <div class="form-group col-3">
                                        <label for="Name_of_Crew_Supervisor">
                                            Issue Date From
                                        </label>
                                        <input id="fromIssuDate" type="date" class="form-control" param="fromIssuDate" />
                                    </div>
                                    <div class="form-group col-3">
                                        <label for="Name_of_Crew_Supervisor">
                                            Issue Date To
                                        </label>
                                        <input id="toIssuDate" type="date" class="form-control" param="toIssuDate" />
                                    </div>



                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="w-100 dt-tbl-section">

                        <div class="w-100 float-left position-relative">
                            <div class="grid-btns">
                                <button type="button" class="btn btn-sm btn-themebtn" @isModifyPerm onclick="javascript:EditformB14(0,0);"><span class="add-icon"></span> Add Form B14</button>
                            </div>
                            <div id="headerListGrid" class="w-100 dt-tbl-section">
                                @{
                                    Html.RenderPartial("_CDataTable", Model);
                                }
                            </div>
                        </div>

                    </div>
                </div>


            </div>

        </div>
    </div>
</div>