@inject RAMMS.Business.ServiceProvider.Interfaces.ISecurity security;

<div class="main-container" id="container">
    <div id="content">
        <div class="w-100 position-relative in-tbl-btns">
            
            <table id="FormB9DtlGridView" class="table w-100 nowrap">
            </table>
        </div>

    </div>
</div>


<!-- Jquery DataTable JS library -->
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<link type="text/css" rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css" />
<script type="text/javascript" src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
<script src="~/js/CDTGrid.js"></script>
<script>

    var table = null;
    var isModifyPerm =@security.IsPCModify(ModuleNameList.Annual_Work_Planned_Budget).ToString().ToLowerInvariant()? "" : 'hidden';
    var isDeletePerm =@security.IsPCDelete(ModuleNameList.Annual_Work_Planned_Budget).ToString().ToLowerInvariant()? "" : 'hidden';
    isModifyPerm = '';
    isDeletePerm = '';
    var table_columns = [];
    var actionCol = {
        data: null, name: "Action", title: "Action", autoWidth: false, width: 25, sortable: false, render: function (data,type, full) {
            var actionSection = "<div class='btn-group dropright' id='actiondropdown'> <button id='actionclick' type='button' class='btn btn-sm btn-themebtn dropdown-toggle' data-toggle='dropdown'> Click Me </button><div class='dropdown-menu'><button type='button' class='dropdown-item editdel-btns'  id='formB9DtlEdit'" + isModifyPerm + " data-toggle='modal'   data-target='#myModal' onclick='javascript:EditFormB9Dtl(this,0);'><span class='edit-icon'></span> Edit</button><button type='button' class='dropdown-item editdel-btns'" + isDeletePerm + " onclick='javascript:DeleteFormB9Dtl(" + data.pkRefNo + ");'><span class='del-icon'></span> Delete</button><button type='button' class='dropdown-item editdel-btns' id='btnAssetView' data-toggle='modal'   data-target='#myModal' onclick='javascript:EditFormB9Dtl(this,1);'><span class='view-icon'></span> View</button></div></div>";
            var viewaction = "<div class='btn-group dropright' id='actiondropdown'> <button id='actionclick' type='button' class='btn btn-sm btn-themebtn dropdown-toggle' data-toggle='dropdown'> Click Me </button><div class='dropdown-menu'><button type='button' class='dropdown-item editdel-btns'" + isDeletePerm + " onclick='javascript:DeleteFormB9Dtl(" + data.pkRefNo + ");'><span class='del-icon'></span> Delete</button><button type='button' class='dropdown-item editdel-btns' id='btnAssetView' data-toggle='modal'   data-target='#myModal' onclick='javascript:EditFormB9Dtl(this,1);'><span class='view-icon'></span> View</button> </div></div>";
            if ($("#hdnView").val() == "1") {
                return viewaction;
            }
           // return $("#FormB9_SubmitSts").val() == "True" ? viewaction : actionSection;
            if ($("#FormB9_SubmitSts").val() == "False" || ($("#FormB9_SubmitSts").val() == "True" && data.status == "Submitted")) {
                return actionSection;
            }
            else {
                return viewaction
            }
        }
    };
    var Feature = { data: "feature", name: "Feature", title: "Feature", autoWidth: true,  sortable: true };
    var Code = { data: "code", name: "Code", title: "Activity Code", autoWidth: true, sortable: true };
    var name = { data: "name", name: "Name", title: "Activity Name", autoWidth: true, sortable: true };
    var cond1 = { data: "cond1", name: "Cond1", title: "Service Level Cond1", autoWidth: true, sortable: true };
    var cond2 = { data: "cond2", name: "Cond2", title: "Service Level Cond2", autoWidth: true, sortable: true };
    var cond3 = { data: "cond3", name: "Cond3", title: "Service Level Cond3", autoWidth: true, sortable: true };
 
    table_columns.push(actionCol);
    table_columns.push(Code);
    table_columns.push(name);
    table_columns.push(cond1);
    table_columns.push(cond2);
    table_columns.push(cond3);
    

    var filterData = new Object();
    function InitializeGrid() {
        debugger
        var _currentGridSettings = new CustomGridSettings();
        filterData.B9dsPkRefNo = $("#FormB9_PkRefNo").val();
        $.extend($.fn.dataTable.defaults, _currentGridSettings);

        if (table != null) {
            table.destroy();
            $('#FormB9DtlGridView').empty();
        }


        table =  $('#FormB9DtlGridView').DataTable({
            ajax: {
                url: "/FormB9/GetDetailList" ,
                type: "POST",
                datatype: "json",
                data: {
                    filterData
                }
            },
            columns: table_columns
        });

       // table.columns.adjust().draw();
    }

    $(document).ready(function () {
        InitializeGrid();

    });
</script>